# Virtual environments
venv/
venvi/
.env/
/.env
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local database and uploads
transactions.db
print_jobs/
*.pdf
credentials.json

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

Campus Print Service - Payment Portal.pdf